<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title color="primary" class="head">Incident details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="other_form_step2" autocomplete="off">

    <ion-item lines="none" class="item-dropdown">
      <ion-label position="stacked" class="lbl-dropdown">Where did this occur?</ion-label>
      <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="where_loss_damage"
        class="btn-select bg" mode="md" (ionChange)="occurchange($event.target.value)">
        <ion-select-option *ngFor="let opt of where_loss_damage | keyvalue" [value]="opt.key">{{opt.value}}</ion-select-option>
        <!-- <ion-select-option value="Risk Address">Risk Address</ion-select-option>
        <ion-select-option value="Another Location">Another Location</ion-select-option>
        <ion-select-option value="In Transit">In Transit</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option> -->
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="other_form_step2.controls.where_loss_damage.hasError('required') && other_form_step2.controls.where_loss_damage.touched">
      <p class="content">Please Select Required Field!</p>
    </ion-item>

    <!-- Another Location, Risk Address -->
    <div
      *ngIf="other_form_step2.get('where_loss_damage').value == '1343' || other_form_step2.get('where_loss_damage').value == '1344'">
      <ion-label class="lbl-contact add-margin">Address details</ion-label>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Street</ion-label>
        <ion-input type="text" formControlName="risk_street" color="primary" class="input-box" id="address_line_1">
        </ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="other_form_step2.controls.risk_street.hasError('required') && other_form_step2.controls.risk_street.touched">
        <p class="content">Please Enter Street!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
        <ion-input type="text" formControlName="risk_suburb" color="primary" class="input-box" id="city"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="other_form_step2.controls.risk_suburb.hasError('required') && other_form_step2.controls.risk_suburb.touched">
        <p class="content">Please Enter Town!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">State</ion-label>
        <ion-input type="text" formControlName="risk_state" color="primary" class="input-box" id="state"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="other_form_step2.controls.risk_state.hasError('required') && other_form_step2.controls.risk_state.touched">
        <p class="content">Please Enter State!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">PostCode</ion-label>
        <ion-input type="number" formControlName="risk_postcode" color="primary" class="input-box" id="postcode">
        </ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="other_form_step2.controls.risk_postcode.hasError('required') && other_form_step2.controls.risk_postcode.touched">
        <p class="content">Please Enter Postcode!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Country</ion-label>
        <ion-input type="text" formControlName="risk_country" color="primary" class="input-box" id="country">
        </ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="other_form_step2.controls.risk_country.hasError('required') && other_form_step2.controls.risk_country.touched">
        <p class="content">Please Enter Country!</p>
      </ion-item>

    </div>

    <!-- Other -->
    <div *ngIf="other_form_step2.get('where_loss_damage').value == '1346'">
      <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Please Specify</ion-label>
        <ion-input type="text" color="primary" formControlName="where_loss_damage_other" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="other_form_step2.controls.where_loss_damage_other.hasError('required') && other_form_step2.controls.where_loss_damage_other.touched">
        <p class="content">Please Enter Required Field!</p>
      </ion-item>
    </div>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">How did this occur?</ion-label>
      <ion-textarea rows="3" formControlName="reported_circumstances" type="text" color="primary" class="input-box">
      </ion-textarea>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="other_form_step2.controls.reported_circumstances.hasError('required') && other_form_step2.controls.reported_circumstances.touched">
      <p class="content">Please Enter Required Field!</p>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="other_form_step2.controls.reported_circumstances.hasError('maxlength') && other_form_step2.controls.reported_circumstances.touched">
      <p class="content">Allow Only 400 Characters!</p>
    </ion-item>


    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">When did the loss/damage occur?</ion-label>
      <ion-datetime placeholder="Select Date" class="input-box box" formControlName="date_loss"
        displayFormat="DD MMM YYYY" min="2016-01-01"></ion-datetime>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="other_form_step2.controls.date_loss.hasError('required') && other_form_step2.controls.date_loss.touched">
      <p class="content">Please Select Date!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">What time did this occur?</ion-label>
      <ion-datetime placeholder="Select Time" class="input-box box" formControlName="time_loss" displayFormat="hh:mm A">
      </ion-datetime>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="other_form_step2.controls.time_loss.hasError('required') && other_form_step2.controls.time_loss.touched">
      <p class="content">Please Select Time!</p>
    </ion-item>

  </form>

</ion-content>

<ion-footer class="btns-footer">
  <ion-row class="row-footer">
    <ion-col class="col-footer border-R">
      <ion-button expand="full" size="large" class="btn-back" (click)="back()">
        <ion-icon name="arrow-round-back" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="col-footer border-L">
      <ion-button expand="full" size="large" class="btn-next" (click)="otherStep2Next()">
        <ion-icon name="arrow-round-forward" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>