<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title color="primary" class="head">Client / Policyholder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="professional_form_step2" autocomplete="off">

    <!-- <div class="div-que">
      <ion-label class="lbl-head">Do you trade under a business name?</ion-label>

      <ion-radio-group formControlName="business_name">
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">Yes</ion-label>
          <ion-radio slot="start" value="true" mode="md"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">No</ion-label>
          <ion-radio slot="start" value="false" mode="md"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div> -->

    <!-- <div class="div-Y" *ngIf="this.professional_form_step2.get('business_name').value == 'true'">

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Trading name</ion-label>
          <ion-input type="text" formControlName="trading_name" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="professional_form_step2.controls.trading_name.hasError('required') && professional_form_step2.controls.trading_name.touched">
          <p class="content">Please Enter Trading name!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">ABN</ion-label>
          <ion-input type="text" formControlName="abn_client" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="professional_form_step2.controls.abn_client.hasError('required') && professional_form_step2.controls.abn_client.touched">
          <p class="content">Please Enter ABN!</p>
        </ion-item>

      </div> -->

      <ion-item class="item-dropdown" lines="none">
        <ion-label position="stacked" class="lbl-dropdown">On what basis are you employed?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="employee_basis" class="btn-select bg" mode="md">
          <ion-select-option value="Business Owner">Business Owner</ion-select-option>
          <ion-select-option value="Practioner">Practioner</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="professional_form_step2.controls.employee_basis.hasError('required') && professional_form_step2.controls.employee_basis.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="professional_form_step2.get('employee_basis').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Please specify</ion-label>
          <ion-input type="text" color="primary" formControlName="employee_basis_other" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="professional_form_step2.controls.employee_basis_other.hasError('required') && professional_form_step2.controls.employee_basis_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <ion-item class="item-dropdown add" lines="none">
        <ion-label position="stacked" class="lbl-dropdown">What is your employment status?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="employment_status2" class="btn-select bg" mode="md">
          <ion-select-option value="Full time">Full time</ion-select-option>
          <ion-select-option value="Part time">Part time</ion-select-option>
          <ion-select-option value="Locum">Locum</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="professional_form_step2.controls.employment_status2.hasError('required') && professional_form_step2.controls.employment_status2.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="professional_form_step2.get('employment_status2').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Please specify</ion-label>
          <ion-input type="text" color="primary" formControlName="employment_status2_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="professional_form_step2.controls.employment_status2_other.hasError('required') && professional_form_step2.controls.employment_status2_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <ion-item class="item-dropdown add" lines="none">
        <ion-label position="stacked" class="lbl-dropdown">What is your length experience?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="length_experience" class="btn-select bg" mode="md">
          <ion-select-option value="less than 1 year">Less than 1 year</ion-select-option>
          <ion-select-option value="1 - 5 ears">1 - 5 years</ion-select-option>
          <ion-select-option value="more than 5 years">More than 5 years</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="professional_form_step2.controls.length_experience.hasError('required') && professional_form_step2.controls.length_experience.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

  </form>

</ion-content>

<ion-footer class="btns-footer">
  <ion-row class="row-footer">
    <ion-col class="col-footer border-R">
      <ion-button expand="full" class="btn-back" (click)="back()">
        <ion-icon name="arrow-round-back" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="col-footer border-L">
      <ion-button expand="full" class="btn-next"(click)="professionalStep2Next()">
        <ion-icon name="arrow-round-forward" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>