<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title color="primary" class="head">Incident details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="general_form_step3" autocomplete="off">

    <ion-label class="lbl-contact">Claimant details</ion-label>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">First Name</ion-label>
      <ion-input type="text" formControlName="tp_christian_claimant" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_christian_claimant.hasError('required') && general_form_step3.controls.tp_christian_claimant.touched">
      <p class="content">Please Enter First Name!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Last Name</ion-label>
      <ion-input type="text" formControlName="tp_name_claimant" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_name_claimant.hasError('required') && general_form_step3.controls.tp_name_claimant.touched">
      <p class="content">Please Enter Last Name!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Street</ion-label>
      <ion-input type="text" formControlName="tp_postal_street" color="primary" class="input-box" id="tp_postal_street" (ionFocus)="tp_postalAddress()"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_postal_street.hasError('required') && general_form_step3.controls.tp_postal_street.touched">
      <p class="content">Please Enter Street!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
      <ion-input type="text" formControlName="tp_postal_suburb" color="primary" class="input-box" id="tp_postal_suburb"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_postal_suburb.hasError('required') && general_form_step3.controls.tp_postal_suburb.touched">
      <p class="content">Please Enter Town!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">PostCode</ion-label>
      <ion-input type="number" formControlName="tp_postal_postcode" color="primary" class="input-box" id="tp_postal_postcode"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_postal_postcode.hasError('required') && general_form_step3.controls.tp_postal_postcode.touched">
      <p class="content">Please Enter Postcode!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">State</ion-label>
      <ion-input type="text" formControlName="tp_postal_state" color="primary" class="input-box" id="tp_postal_state"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_postal_state.hasError('required') && general_form_step3.controls.tp_postal_state.touched">
      <p class="content">Please Enter State!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Email</ion-label>
      <ion-input type="email" formControlName="tp_postal_email" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_postal_email.hasError('required') && general_form_step3.controls.tp_postal_email.touched">
      <p class="content">Email Address is required!</p>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_postal_email.hasError('pattern') && general_form_step3.controls.tp_postal_email.touched">
      <p class="content">Please Enter a Valid Email Address!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Telephone</ion-label>
      <ion-input type="number" formControlName="tp_tele_main" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.tp_tele_main.hasError('required') && general_form_step3.controls.tp_tele_main.touched">
      <p class="content">Please Enter Telephone!</p>
    </ion-item>

    <div class="div-que add-margin">

      <ion-label class="lbl-head">Does the claimant have legal representation?</ion-label>

      <ion-radio-group formControlName="tp_legal_represented">
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">Yes</ion-label>
          <ion-radio slot="start" value="true" mode="md"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">No</ion-label>
          <ion-radio slot="start" value="false" mode="md"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </div>

    <div class="div-Y" *ngIf="this.general_form_step3.get('tp_legal_represented').value == 'true'">

      <ion-item lines="none" class="input-item">
        <ion-label position="stacked" class="input-lbl">Name of firm</ion-label>
        <ion-input type="text" formControlName="tp_name_firm" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="general_form_step3.controls.tp_name_firm.hasError('required') && general_form_step3.controls.tp_name_firm.touched">
        <p class="content">Please Enter Firm Name!</p>
      </ion-item>

    </div>

    <div class="div-que add-margin">
      <ion-label class="lbl-head">Does this notification relate to injury to a third party?</ion-label>

      <ion-radio-group formControlName="related_injury">
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">Yes</ion-label>
          <ion-radio slot="start" value="true" mode="md"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">No</ion-label>
          <ion-radio slot="start" value="false" mode="md"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </div>

    <div class="div-Y" *ngIf="this.general_form_step3.get('related_injury').value == 'true'">

      <ion-item lines="none" class="input-item">
        <ion-label position="stacked" class="input-lbl">Nature of injury</ion-label>
        <ion-textarea rows="3" formControlName="nature_injury" type="text" color="primary" class="input-box">
        </ion-textarea>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="general_form_step3.controls.nature_injury.hasError('required') && general_form_step3.controls.nature_injury.touched">
        <p class="content">Please Enter Required Field!</p>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
          *ngIf="general_form_step3.controls.nature_injury.hasError('maxlength') && general_form_step3.controls.nature_injury.touched">
          <p class="content">Allow Only 140 Characters!</p>
        </ion-item>

      <div class="div-que add-margin">
        <ion-label class="lbl-head">Personal injury</ion-label>

        <ion-radio-group formControlName="personal_injury">
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">Yes</ion-label>
            <ion-radio slot="start" value="true" mode="md"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">No</ion-label>
            <ion-radio slot="start" value="false" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </div>

    </div>

    <ion-item class="item-dropdown" lines="none">
      <ion-label position="stacked" class="lbl-dropdown">What has been damaged?</ion-label>
      <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="reported_loss" class="btn-select bg" mode="md">
        <ion-select-option value="Personal Property">Personal Property</ion-select-option>
        <ion-select-option value="Neighbours Property">Neighbours Property</ion-select-option>
        <ion-select-option value="Third Party Vehicle">Third Party Vehicle</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.reported_loss.hasError('required') && general_form_step3.controls.reported_loss.touched">
      <p class="content">Please Select Required Field!</p>
    </ion-item>

    <!-- Other -->
    <div *ngIf="general_form_step3.get('reported_loss').value == 'Other'">
      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Please specify</ion-label>
        <ion-input type="text" color="primary" formControlName="reported_loss_other" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="general_form_step3.controls.reported_loss_other.hasError('required') && general_form_step3.controls.reported_loss_other.touched">
        <p class="content">Please Enter Required Field!</p>
      </ion-item>
    </div>

    <ion-item class="item-dropdown add" lines="none">
      <ion-label position="stacked" class="lbl-dropdown">Type of damage</ion-label>
      <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="type_damage" class="btn-select bg" mode="md">
        <ion-select-option value="Water Damage">Water Damage</ion-select-option>
        <ion-select-option value="Fire">Fire</ion-select-option>
        <ion-select-option value="Smoke">Smoke</ion-select-option>
        <ion-select-option value="Dent">Dent</ion-select-option>
        <ion-select-option value="Scratch">Scratch</ion-select-option>
        <ion-select-option value="Broken">Broken</ion-select-option>
        <ion-select-option value="Lost">Lost</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.type_damage.hasError('required') && general_form_step3.controls.type_damage.touched">
      <p class="content">Please Select Required Field!</p>
    </ion-item>

    <!-- Other -->
    <div *ngIf="general_form_step3.get('type_damage').value == 'Other'">
      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Please specify</ion-label>
        <ion-input type="text" color="primary" formControlName="type_damage_other" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="general_form_step3.controls.type_damage_other.hasError('required') && general_form_step3.controls.type_damage_other.touched">
        <p class="content">Please Enter Required Field!</p>
      </ion-item>
    </div>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">How did the damage occur?</ion-label>
      <ion-textarea rows="3" formControlName="how_damage_occur" type="text" color="primary" class="input-box">
      </ion-textarea>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.how_damage_occur.hasError('required') && general_form_step3.controls.how_damage_occur.touched">
      <p class="content">Please Enter Required Field!</p>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
          *ngIf="general_form_step3.controls.how_damage_occur.hasError('maxlength') && general_form_step3.controls.how_damage_occur.touched">
          <p class="content">Allow Only 140 Characters!</p>
        </ion-item>


    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Do you know the cost of the damage?</ion-label>
      <ion-input type="number" formControlName="reported_gross_estimate" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.reported_gross_estimate.hasError('required') && general_form_step3.controls.reported_gross_estimate.touched">
      <p class="content">Please Enter Required Field!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl lbl-over">What work were you contracted to do?</ion-label>
      <ion-textarea rows="3" formControlName="business_contract" type="text" color="primary" class="input-box">
      </ion-textarea>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.business_contract.hasError('required') && general_form_step3.controls.business_contract.touched">
      <p class="content">Please Enter Required Field!</p>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
          *ngIf="general_form_step3.controls.business_contract.hasError('maxlength') && general_form_step3.controls.business_contract.touched">
          <p class="content">Allow Only 140 Characters!</p>
        </ion-item>

    <!-- <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl lbl-over">What was the value of the work you were performing ($)?
      </ion-label>
      <ion-input type="text" formControlName="contract_value" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="general_form_step3.controls.contract_value.hasError('required') && general_form_step3.controls.contract_value.touched">
      <p class="content">Please Enter Required Field!</p>
    </ion-item> -->

  </form>

</ion-content>

<ion-footer class="btns-footer">
  <ion-row class="row-footer">
    <ion-col class="col-footer border-R">
      <ion-button expand="full" size="large" class="btn-back" (click)="back()">
        <ion-icon name="arrow-round-back" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="col-footer border-L">
      <ion-button expand="full" size="large" class="btn-next" (click)="GeneralStep3Next()">
        <ion-icon name="arrow-round-forward" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>