<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="head">My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <img src="../../assets/images/insurence-logo.png" class="lbl-logo" /> -->

  <form [formGroup]="profile_form" autocomplete="off">

    <ion-item lines="none" class="input-item">
      <ion-label position="stacked" class="input-lbl">First Name</ion-label>
      <ion-input type="text" formControlName="firstname" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.firstname.hasError('required') && profile_form.controls.firstname.touched">
      <p class="content">Please Enter First Name!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Last Name</ion-label>
      <ion-input type="text" formControlName="lastname" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.lastname.hasError('required') && profile_form.controls.lastname.touched">
      <p class="content">Please Enter Last Name!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Phone Number</ion-label>
      <ion-input type="number" formControlName="phone_number" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.phone_number.hasError('required') && profile_form.controls.phone_number.touched">
      <p class="content">Please Enter Phone Number!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Mobile</ion-label>
      <ion-input type="number" formControlName="mobile" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.mobile.hasError('required') && profile_form.controls.mobile.touched">
      <p class="content">Please Enter Mobile!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Email Address</ion-label>
      <ion-input type="email" formControlName="email" color="primary" class="input-box"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.email.hasError('required') && profile_form.controls.email.touched">
      <p class="content">Please Enter Email Address!</p>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.email.hasError('pattern') && profile_form.controls.email.touched">
      <p class="content">Please Enter Valid Email Address!</p>
    </ion-item>
    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.email.hasError('incorrect') && profile_form.controls.email.touched">
      <p class="content">Email Address is already taken!</p>
    </ion-item>

    <ion-label class="lbl-contact add-margin add">Physical address</ion-label>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Street</ion-label>
      <ion-input type="text" formControlName="street" color="primary" class="input-box" id="address_line_1"
        (ionFocus)="riskAddress()"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.street.hasError('required') && profile_form.controls.street.touched">
      <p class="content">Please Enter Street!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
      <ion-input type="text" formControlName="city" color="primary" class="input-box" id="city"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.city.hasError('required') && profile_form.controls.city.touched">
      <p class="content">Please Enter Suburb/Town!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">State</ion-label>
      <ion-input type="text" formControlName="state" color="primary" class="input-box" id="state"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.state.hasError('required') && profile_form.controls.state.touched">
      <p class="content">Please Enter State!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Postcode</ion-label>
      <ion-input type="number" formControlName="postal_code" color="primary" class="input-box" id="postcode">
      </ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.postal_code.hasError('required') && profile_form.controls.postal_code.touched">
      <p class="content">Please Enter Postcode!</p>
    </ion-item>
    
    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Country</ion-label>
      <ion-input type="text" formControlName="country" color="primary" class="input-box" id="country"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.country.hasError('required') && profile_form.controls.country.touched">
      <p class="content">Please Enter Country!</p>
    </ion-item>

    <ion-label class="lbl-contact add-margin add">Postal address</ion-label>

    <ion-item lines="none" class="add-spc">
      <ion-checkbox mode="md" slot="start" class="add-check" formControlName="same_address"></ion-checkbox>
      <ion-label class="add-lbl">Same as physical address</ion-label>
    </ion-item>

    <div>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Street</ion-label>
      <ion-input type="text" formControlName="tp_street" color="primary" class="input-box" id="tp_StreetValue"
        (ionFocus)="riskAddress()"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.tp_street.hasError('required') && profile_form.controls.tp_street.touched">
      <p class="content">Please Enter Street!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
      <ion-input type="text" formControlName="tp_city" color="primary" class="input-box" id="tp_SuburbValue"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.tp_city.hasError('required') && profile_form.controls.tp_city.touched">
      <p class="content">Please Enter Suburb/Town!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">State</ion-label>
      <ion-input type="text" formControlName="tp_state" color="primary" class="input-box" id="tp_StateValue"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.tp_state.hasError('required') && profile_form.controls.tp_state.touched">
      <p class="content">Please Enter State!</p>
    </ion-item>

    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Postcode</ion-label>
      <ion-input type="number" formControlName="tp_postal_code" color="primary" class="input-box" id="tp_PostCodeValue">
      </ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.tp_postal_code.hasError('required') && profile_form.controls.tp_postal_code.touched">
      <p class="content">Please Enter Postcode!</p>
    </ion-item>
    
    <ion-item lines="none" class="input-item add">
      <ion-label position="stacked" class="input-lbl">Country</ion-label>
      <ion-input type="text" formControlName="tp_country" color="primary" class="input-box" id="tp_CountryValue"></ion-input>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="profile_form.controls.tp_country.hasError('required') && profile_form.controls.tp_country.touched">
      <p class="content">Please Enter Country!</p>
    </ion-item>

    </div>

    <ion-radio-group formControlName="contact_option">

      <ion-label color="primary" class="lbl-head-radio add add-margin">How would you like to be contacted?</ion-label>

      <ion-item lines="none" class="items-radio">
        <ion-label class="lbl-radio">Phone Call</ion-label>
        <ion-radio slot="start" class="btn-radio" value="Phone Call" mode="md"></ion-radio>
      </ion-item>

      <ion-item lines="none" class="items-radio">
        <ion-label class="lbl-radio">SMS</ion-label>
        <ion-radio slot="start" class="btn-radio" value="SMS" mode="md"></ion-radio>
      </ion-item>

      <ion-item lines="none" class="items-radio">
        <ion-label class="lbl-radio">Email</ion-label>
        <ion-radio slot="start" class="btn-radio" value="Email" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <div class="btns-bottom">

      <ion-label class="lbl-signup" color="primary" routerLink="/changepass">Change Password</ion-label>

      <ion-button expand="full" size="large" shape="round" class="btn-signin" (click)="submit()">SUBMIT</ion-button>

    </div>

  </form>

</ion-content>