<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons>
      <ion-button color="primary" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title color="primary" class="head">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="property_form_step3" autocomplete="off">

    <ion-label class="lbl-contact">{{title}} Details</ion-label>

    <ion-item lines="none" class="item-dropdown add">
      <ion-label position="stacked" class="lbl-dropdown">What is the nature of the loss or damage?</ion-label>
      <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="property_nature_loss"
        class="btn-select bg" mode="md" (ionChange)="changeDamageType($event)">
        <ion-select-option value="Accidental Damage">Accidental Damage</ion-select-option>
        <ion-select-option value="Crime/Malicious damage">Crime/Malicious damage</ion-select-option>
        <ion-select-option value="Earthquake">Earthquake</ion-select-option>
        <ion-select-option value="Fire/Explosion">Fire/Explosion</ion-select-option>
        <ion-select-option value="Impact by collision">Impact by collision</ion-select-option>
        <ion-select-option value="Impact by tree">Impact by tree</ion-select-option>
        <ion-select-option value="Escape of liquid">Escape of liquid</ion-select-option>
        <ion-select-option value="Weather related">Weather related</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="property_form_step3.controls.property_nature_loss.hasError('required') && property_form_step3.controls.property_nature_loss.touched">
      <p class="content">Please Select Required Field!</p>
    </ion-item>

    <!-- Accidental Damage -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Accidental Damage'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">What was the basic cause of damage?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="class_claim_accidental"
          class="btn-select bg" mode="md">
          <ion-select-option value="Accidental knocked">Accidental knocked</ion-select-option>
          <ion-select-option value="Fusion">Fusion</ion-select-option>
          <ion-select-option value="Cyber">Cyber</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.class_claim_accidental.hasError('required') && property_form_step3.controls.class_claim_accidental.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('class_claim_accidental').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="class_claim_accidental_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.class_claim_accidental_other.hasError('required') && property_form_step3.controls.class_claim_accidental_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

    </div>

    <!-- Crime/Malicious damage -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Crime/Malicious damage'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">Type of crime</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="crime_type"
          class="btn-select bg" mode="md">
          <ion-select-option value="Theft">Theft</ion-select-option>
          <ion-select-option value="Theft by forced entry">Theft by forced entry</ion-select-option>
          <ion-select-option value="Malicious Damage">Malicious Damage</ion-select-option>
          <ion-select-option value="Theft by Employees">Theft by Employees</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.crime_type.hasError('required') && property_form_step3.controls.crime_type.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Malicious Damage -->
      <div *ngIf="property_form_step3.get('crime_type').value == 'Malicious Damage'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Who do you suspect is responsible for the malicious act?
          </ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="suspect_malicious"
            class="btn-select bg" mode="md">
            <ion-select-option value="Family Member">Family Member</ion-select-option>
            <ion-select-option value="Tenant">Tenant</ion-select-option>
            <ion-select-option value="I don’t know">I don’t know</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.suspect_malicious.hasError('required') && property_form_step3.controls.suspect_malicious.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('suspect_malicious').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="suspect_malicious_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.suspect_malicious_other.hasError('required') && property_form_step3.controls.suspect_malicious_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

        <div class="div-que add-margin">

          <ion-label class="lbl-head">Do you know the name and contact details of suspect/s?</ion-label>

          <ion-radio-group formControlName="suspect_detail">
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">Yes</ion-label>
              <ion-radio slot="start" value="true" mode="md"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">No</ion-label>
              <ion-radio slot="start" value="false" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>

        </div>

        <div class="div-Y" *ngIf="this.property_form_step3.get('suspect_detail').value == 'true'">

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">Name of suspect</ion-label>
            <ion-input type="text" formControlName="suspect_name" color="primary" class="input-box"></ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.suspect_name.hasError('required') && property_form_step3.controls.suspect_name.touched">
            <p class="content">Please Enter Name!</p>
          </ion-item>

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">Street</ion-label>
            <ion-input type="text" formControlName="suspect_street" color="primary" class="input-box"></ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.suspect_street.hasError('required') && property_form_step3.controls.suspect_street.touched">
            <p class="content">Please Enter Street!</p>
          </ion-item>

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
            <ion-input type="text" formControlName="suspect_suburb" color="primary" class="input-box"></ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.suspect_suburb.hasError('required') && property_form_step3.controls.suspect_suburb.touched">
            <p class="content">Please Enter Town!</p>
          </ion-item>

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">PostCode</ion-label>
            <ion-input type="number" formControlName="suspect_post_code" color="primary" class="input-box"></ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.suspect_post_code.hasError('required') && property_form_step3.controls.suspect_post_code.touched">
            <p class="content">Please Enter Postcode!</p>
          </ion-item>

        </div>

      </div>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">When was the insured address left unattended?</ion-label>
        <ion-input type="text" formControlName="address_left_date" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.address_left_date.hasError('required') && property_form_step3.controls.address_left_date.touched">
        <p class="content">Please Enter Required Field!</p>
      </ion-item>

      <div class="div-que add-margin">

        <ion-label class="lbl-head">Did someone Illegally enter the main building?</ion-label>

        <ion-radio-group formControlName="enter_illegally">
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">Yes</ion-label>
            <ion-radio slot="start" value="true" mode="md"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">No</ion-label>
            <ion-radio slot="start" value="false" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </div>

      <div class="div-Y" *ngIf="this.property_form_step3.get('enter_illegally').value == 'true'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">How were the entrances secured?</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="entrances_secured"
            class="btn-select bg" mode="md">
            <ion-select-option value="Secured with deadlocks">Secured with deadlocks</ion-select-option>
            <ion-select-option value="Secured with a keycard">Secured with a keycard</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.entrances_secured.hasError('required') && property_form_step3.controls.entrances_secured.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('entrances_secured').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="entrances_secured_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.entrances_secured_other.hasError('required') && property_form_step3.controls.entrances_secured_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">How were the windows secured?</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="windows_secured"
            class="btn-select bg" mode="md">
            <ion-select-option value="All were fixed">All were fixed</ion-select-option>
            <ion-select-option value="Key window locks">Key window locks</ion-select-option>
            <ion-select-option value="Winder">Winder</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.windows_secured.hasError('required') && property_form_step3.controls.windows_secured.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('windows_secured').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="windows_secured_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.windows_secured_other.hasError('required') && property_form_step3.controls.windows_secured_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

      </div>

    </div>

    <!-- Earthquake -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Earthquake'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">How far away was the centre of earthquake from your property?
        </ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="earthquake_center"
          class="btn-select bg" mode="md">
          <ion-select-option value="0-5 km">0-5 km</ion-select-option>
          <ion-select-option value="6-20 km">6-20 km</ion-select-option>
          <ion-select-option value="21-50 km">21-50 km</ion-select-option>
          <ion-select-option value="More than 51km">More than 51km</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.earthquake_center.hasError('required') && property_form_step3.controls.earthquake_center.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Richter scale measurement if known</ion-label>
        <ion-input type="text" formControlName="earthquake_measurement" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.earthquake_measurement.hasError('required') && property_form_step3.controls.earthquake_measurement.touched">
        <p class="content">Please Enter Required Field!</p>
      </ion-item>

    </div>

    <!-- Fire/Explosion -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Fire/Explosion'">

      <div class="div-que add-margin">

        <ion-label class="lbl-head">Was anyone present when the loss or damage occurred?</ion-label>

        <ion-radio-group formControlName="anyone_present">
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">Yes</ion-label>
            <ion-radio slot="start" value="true" mode="md"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">No</ion-label>
            <ion-radio slot="start" value="false" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </div>

      <div class="div-Y" *ngIf="this.property_form_step3.get('anyone_present').value == 'true'">

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Name of person present</ion-label>
          <ion-textarea rows="3" formControlName="name_present_person" type="text" color="primary" class="input-box">
          </ion-textarea>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.name_present_person.hasError('required') && property_form_step3.controls.name_present_person.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.name_present_person.hasError('maxlength') && property_form_step3.controls.name_present_person.touched">
          <p class="content">Allow Only 140 Characters!</p>
        </ion-item>

      </div>

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">How did the fire or explosion occur?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="class_claim_fire"
          class="btn-select bg" mode="md">
          <ion-select-option value="1239">Accidental Fire</ion-select-option>
          <ion-select-option value="1240">Bush fire</ion-select-option>
          <ion-select-option value="1241">Electrical Fault in Building</ion-select-option>
          <ion-select-option value="1242">Electrical Fault in Appliance</ion-select-option>
          <ion-select-option value="1243">Induced Fire</ion-select-option>
          <ion-select-option value="1244">Explosion</ion-select-option>
          <ion-select-option value="1245">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.class_claim_fire.hasError('required') && property_form_step3.controls.class_claim_fire.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('class_claim_fire').value == '1245'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="class_claim_fire_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.class_claim_fire_other.hasError('required') && property_form_step3.controls.class_claim_fire_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <!-- Accidental Fire -->
      <div *ngIf="property_form_step3.get('class_claim_fire').value == '1239'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Type of fire/explosion</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option"
            formControlName="fire_accidental_fire_subpick" class="btn-select bg" mode="md">
            <ion-select-option value="Match">Match</ion-select-option>
            <ion-select-option value="Lighter">Lighter</ion-select-option>
            <ion-select-option value="Candle">Candle</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.fire_accidental_fire_subpick.hasError('required') && property_form_step3.controls.fire_accidental_fire_subpick.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('fire_accidental_fire_subpick').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="fire_accidental_fire_subpick_other"
              class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.fire_accidental_fire_subpick_other.hasError('required') && property_form_step3.controls.fire_accidental_fire_subpick_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

      </div>

      <!-- Bush fire -->
      <div *ngIf="property_form_step3.get('class_claim_fire').value == '1240'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Type of fire/explosion</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option"
            formControlName="fire_bush_fire_subpick" class="btn-select bg" mode="md">
            <ion-select-option value="Induced">Induced</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.fire_bush_fire_subpick.hasError('required') && property_form_step3.controls.fire_bush_fire_subpick.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('fire_bush_fire_subpick').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="fire_bush_fire_subpick_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.fire_bush_fire_subpick_other.hasError('required') && property_form_step3.controls.fire_bush_fire_subpick_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

      </div>

      <!-- Electrical Fault in Building -->
      <div *ngIf="property_form_step3.get('class_claim_fire').value == '1241'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Type of fire/explosion</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option"
            formControlName="fire_elefault_building_subpick" class="btn-select bg" mode="md">
            <ion-select-option value="Fault in wiring">Fault in wiring</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.fire_elefault_building_subpick.hasError('required') && property_form_step3.controls.fire_elefault_building_subpick.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('fire_elefault_building_subpick').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="fire_elefault_building_subpick_other"
              class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.fire_elefault_building_subpick_other.hasError('required') && property_form_step3.controls.fire_elefault_building_subpick_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

      </div>

      <!-- Electrical Fault in Appliance -->
      <div *ngIf="property_form_step3.get('class_claim_fire').value == '1242'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Type of fire/explosion</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option"
            formControlName="fire_elefault_appliance_subpick" class="btn-select bg" mode="md">
            <ion-select-option value="Kitchen appliance">Kitchen appliance</ion-select-option>
            <ion-select-option value="Bathroom">Bathroom</ion-select-option>
            <ion-select-option value="Appliance">Appliance</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.fire_elefault_appliance_subpick.hasError('required') && property_form_step3.controls.fire_elefault_appliance_subpick.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

      </div>

      <!-- Induced Fire -->
      <div *ngIf="property_form_step3.get('class_claim_fire').value == '1243'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Type of fire/explosion</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option"
            formControlName="fire_induced_fire_subpick" class="btn-select bg" mode="md">
            <ion-select-option value="Match">Match</ion-select-option>
            <ion-select-option value="Lighter">Lighter</ion-select-option>
            <ion-select-option value="Candle">Candle</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.fire_induced_fire_subpick.hasError('required') && property_form_step3.controls.fire_induced_fire_subpick.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('fire_induced_fire_subpick').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="fire_induced_fire_subpick_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.fire_induced_fire_subpick_other.hasError('required') && property_form_step3.controls.fire_induced_fire_subpick_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

      </div>

      <!-- Explosion -->
      <div *ngIf="property_form_step3.get('class_claim_fire').value == '1244'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Type of fire/explosion</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option"
            formControlName="fire_explosion_subpick" class="btn-select bg" mode="md">
            <ion-select-option value="Gas explosion">Gas explosion</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.fire_explosion_subpick.hasError('required') && property_form_step3.controls.fire_explosion_subpick.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('fire_explosion_subpick').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="fire_explosion_subpick_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.fire_explosion_subpick_other.hasError('required') && property_form_step3.controls.fire_explosion_subpick_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

      </div>

    </div>

    <!-- Impact by collision -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Impact by collision'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">What was impacted?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="what_was_impacted"
          class="btn-select bg" mode="md">
          <ion-select-option value="Building">Building</ion-select-option>
          <ion-select-option value="Garage">Garage</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.what_was_impacted.hasError('required') && property_form_step3.controls.what_was_impacted.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('what_was_impacted').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="what_was_impacted_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.what_was_impacted_other.hasError('required') && property_form_step3.controls.what_was_impacted_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

    </div>

    <!-- Impact by tree -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Impact by tree'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">Did tree impact occur due to</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="impact_tree_occur"
          class="btn-select bg" mode="md">
          <ion-select-option value="Tree Falling">Tree Falling</ion-select-option>
          <ion-select-option value="Branch Falling">Branch Falling</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.impact_tree_occur.hasError('required') && property_form_step3.controls.impact_tree_occur.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('impact_tree_occur').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="impact_tree_occur_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.impact_tree_occur_other.hasError('required') && property_form_step3.controls.impact_tree_occur_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <div class="div-que add-margin">

        <ion-label class="lbl-head">Was the tree planted on your property?</ion-label>

        <ion-radio-group formControlName="tree_planted_your_property">
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">Yes</ion-label>
            <ion-radio slot="start" value="true" mode="md"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">No</ion-label>
            <ion-radio slot="start" value="false" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </div>

      <div class="div-N" *ngIf="this.property_form_step3.get('tree_planted_your_property').value == 'false'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Where was the tree planted?</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="where_tree_planted"
            class="btn-select bg" mode="md">
            <ion-select-option value="Neighbours Property">Neighbours Property</ion-select-option>
            <ion-select-option value="Council Land">Council Land</ion-select-option>
            <ion-select-option value="Crown Land">Crown Land</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.where_tree_planted.hasError('required') && property_form_step3.controls.where_tree_planted.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('where_tree_planted').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="where_tree_planted_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.where_tree_planted_other.hasError('required') && property_form_step3.controls.where_tree_planted_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

        <ion-label class="lbl-contact add-margin">Tree owner details</ion-label>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">First Name</ion-label>
          <ion-input type="text" formControlName="tp_christian_tree_owner" color="primary" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_christian_tree_owner.hasError('required') && property_form_step3.controls.tp_christian_tree_owner.touched">
          <p class="content">Please Enter First Name!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Last Name</ion-label>
          <ion-input type="text" formControlName="tp_name_tree_owner" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_name_tree_owner.hasError('required') && property_form_step3.controls.tp_name_tree_owner.touched">
          <p class="content">Please Enter Last Name!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Street</ion-label>
          <ion-input type="text" formControlName="tp_postal_street" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_postal_street.hasError('required') && property_form_step3.controls.tp_postal_street.touched">
          <p class="content">Please Enter Street!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
          <ion-input type="text" formControlName="tp_postal_suburb" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_postal_suburb.hasError('required') && property_form_step3.controls.tp_postal_suburb.touched">
          <p class="content">Please Enter Town!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">PostCode</ion-label>
          <ion-input type="number" formControlName="tp_postal_postcode" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_postal_postcode.hasError('required') && property_form_step3.controls.tp_postal_postcode.touched">
          <p class="content">Please Enter Postcode!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Email</ion-label>
          <ion-input type="email" formControlName="tp_postal_email" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_postal_email.hasError('required') && property_form_step3.controls.tp_postal_email.touched">
          <p class="content">Email Address is required!</p>
        </ion-item>
        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_postal_email.hasError('pattern') && property_form_step3.controls.tp_postal_email.touched">
          <p class="content">Please Enter a Valid Email Address!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Telephone</ion-label>
          <ion-input type="number" formControlName="tp_tele_main" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.tp_tele_main.hasError('required') && property_form_step3.controls.tp_tele_main.touched">
          <p class="content">Please Enter Telephone!</p>
        </ion-item>

      </div>

    </div>

    <!-- Escape of liquid -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Escape of liquid'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">What type of liquid escaped?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="what_type_liquid"
          class="btn-select bg" mode="md">
          <ion-select-option value="Water">Water</ion-select-option>
          <ion-select-option value="Sewage">Sewage</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.what_type_liquid.hasError('required') && property_form_step3.controls.what_type_liquid.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('what_type_liquid').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="what_type_liquid_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.what_type_liquid_other.hasError('required') && property_form_step3.controls.what_type_liquid_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">Where did the liquid escape from?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="class_claim_escape"
          class="btn-select bg" mode="md">
          <ion-select-option value="Shower base">Shower base</ion-select-option>
          <ion-select-option value="Pipe or Plumbing fitting">Pipe or Plumbing fitting</ion-select-option>
          <ion-select-option value="Tank">Tank</ion-select-option>
          <ion-select-option value="Leak from water mains">Leak from water mains</ion-select-option>
          <ion-select-option value="Leak from fire services">Leak from fire services</ion-select-option>
          <ion-select-option value="Leak from appliance">Leak from appliance</ion-select-option>
          <ion-select-option value="Leak from Pool or Spa">Leak from Pool or Spa</ion-select-option>
          <ion-select-option value="Leak from Appliance or Machine">Leak from Appliance or Machine</ion-select-option>
          <ion-select-option value="Leak from Fish Aquarium">Leak from Fish Aquarium</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.class_claim_escape.hasError('required') && property_form_step3.controls.class_claim_escape.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('class_claim_escape').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="class_claim_escape_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.class_claim_escape_other.hasError('required') && property_form_step3.controls.class_claim_escape_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <div class="div-que add-margin">

        <ion-label class="lbl-head">Was the location of the liquid escape on your property?</ion-label>

        <ion-radio-group formControlName="escape_location">
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">Yes</ion-label>
            <ion-radio slot="start" value="true" mode="md"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="items-radio">
            <ion-label class="lbl-radio">No</ion-label>
            <ion-radio slot="start" value="false" mode="md"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </div>

      <div class="div-N" *ngIf="this.property_form_step3.get('escape_location').value == 'false'">

        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Where did it escape from?</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="where_liquid_escape"
            class="btn-select bg" mode="md">
            <ion-select-option value="Neighbours Property">Neighbours Property</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.where_liquid_escape.hasError('required') && property_form_step3.controls.where_liquid_escape.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>

        <!-- Other -->
        <div *ngIf="property_form_step3.get('where_liquid_escape').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="where_liquid_escape_other" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.where_liquid_escape_other.hasError('required') && property_form_step3.controls.where_liquid_escape_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>

        <div *ngIf="property_form_step3.get('where_liquid_escape').value">

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">Name of Property Owner</ion-label>
            <ion-input type="text" formControlName="escape_owner_name" color="primary" class="input-box"></ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.escape_owner_name.hasError('required') && property_form_step3.controls.escape_owner_name.touched">
            <p class="content">Please Enter Name!</p>
          </ion-item>

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">Street</ion-label>
            <ion-input type="text" formControlName="escape_owner_street" color="primary" class="input-box"></ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.escape_owner_street.hasError('required') && property_form_step3.controls.escape_owner_street.touched">
            <p class="content">Please Enter Street!</p>
          </ion-item>

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
            <ion-input type="text" formControlName="escape_owner_suburb" color="primary" class="input-box"></ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.escape_owner_suburb.hasError('required') && property_form_step3.controls.escape_owner_suburb.touched">
            <p class="content">Please Enter Town!</p>
          </ion-item>

          <ion-item lines="none" class="input-item add">
            <ion-label position="stacked" class="input-lbl">PostCode</ion-label>
            <ion-input type="number" formControlName="escape_owner_postcode" color="primary" class="input-box">
            </ion-input>
          </ion-item>

          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="property_form_step3.controls.escape_owner_postcode.hasError('required') && property_form_step3.controls.escape_owner_postcode.touched">
            <p class="content">Please Enter Postcode!</p>
          </ion-item>

        </div>

      </div>

    </div>

    <!-- Weather related -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Weather related'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">What was the cause of damage?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="class_claim_waether"
          class="btn-select bg" mode="md">
          <ion-select-option value="Rainwater falling from sky">Rainwater falling from sky</ion-select-option>
          <ion-select-option value="Rainwater on ground">Rainwater on ground</ion-select-option>
          <ion-select-option value="Winds">Winds</ion-select-option>
          <ion-select-option value="Hail">Hail</ion-select-option>
          <ion-select-option value="Lightning">Lightning</ion-select-option>
          <ion-select-option value="Snow">Snow</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.class_claim_waether.hasError('required') && property_form_step3.controls.class_claim_waether.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

    </div>

    <!-- Other -->
    <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Other'">

      <!-- Other -->
      <div *ngIf="property_form_step3.get('property_nature_loss').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="property_nature_loss_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.property_nature_loss_other.hasError('required') && property_form_step3.controls.property_nature_loss_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">Type of property damaged</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="other_what_damaged"
          class="btn-select bg" mode="md">
          <ion-select-option value="Building">Building</ion-select-option>
          <ion-select-option value="Contents">Contents</ion-select-option>
          <ion-select-option value="Stock">Stock</ion-select-option>
          <ion-select-option value="Machinery">Machinery</ion-select-option>
          <ion-select-option value="Electronic Equipment Fixtures & Fittings">Electronic Equipment Fixtures & Fittings
          </ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.other_what_damaged.hasError('required') && property_form_step3.controls.other_what_damaged.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('other_what_damaged').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="other_what_damaged_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.other_what_damaged_other.hasError('required') && property_form_step3.controls.other_what_damaged_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">What was damaged?</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="reported_loss"
          class="btn-select bg" mode="md">
          <ion-select-option value="Personal Property">Personal Property</ion-select-option>
          <ion-select-option value="Neighbours Property">Neighbours Property</ion-select-option>
          <ion-select-option value="Third Party Vehicle">Third Party Vehicle</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="property_form_step3.controls.reported_loss.hasError('required') && property_form_step3.controls.reported_loss.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <!-- Other -->
      <div *ngIf="property_form_step3.get('reported_loss').value == 'Other'">
        <ion-item lines="none" class="input-item add">
          <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
          <ion-input type="text" color="primary" formControlName="reported_loss_other" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="property_form_step3.controls.reported_loss_other.hasError('required') && property_form_step3.controls.reported_loss_other.touched">
          <p class="content">Please Enter Required Field!</p>
        </ion-item>
      </div>

    </div>

  </form>
  <!-- 
  <ion-row wrap-reverse>
    <ion-col class="ion-justify-content-center">
      <ion-card>
        <img src="../../../assets/images/logo.png"/>
        <ion-label text-wrap no-lines>Fast & Furiors Presesnts: Hobbs & Shaw</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="ion-justify-content-center">
      <ion-card>
        <img src="../../../assets/images/logo.png"/>
        <ion-label text-wrap no-lines>Fast & Furiors Presesnts: Hobbs & Shaw</ion-label>
      </ion-card>
    </ion-col>
    <ion-col class="ion-justify-content-center">
      <ion-card>
        <img src="../../../assets/images/logo.png"/>
        <ion-label text-wrap no-lines>Fast & Furiors Presesnts: Hobbs & Shaw</ion-label>
      </ion-card>
    </ion-col>
  </ion-row> -->

</ion-content>

<ion-footer class="btns-footer">
  <ion-row class="row-footer">
    <ion-col class="col-footer border-R">
      <ion-button expand="full" class="btn-back" (click)="back()">
        <ion-icon name="arrow-round-back" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="col-footer border-L">
      <ion-button expand="full" class="btn-next" (click)="next()">
        <ion-icon name="arrow-round-forward" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>