<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons>
        <ion-button color="primary" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    <ion-title color="primary" class="head">Impact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="impact_form" autocomplete="off">

    <ion-label class="lbl-contact">Impact Details</ion-label>

    <ion-item lines="none" class="item-dropdown add">
      <ion-label position="stacked" class="lbl-dropdown">Impact type</ion-label>
      <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="impact_type"
        class="btn-select bg" mode="md">
        <ion-select-option value="Tree">Tree</ion-select-option>
        <ion-select-option value="Foreign Object">Foreign Object</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item no-padding lines="none" class="validator-error"
      *ngIf="impact_form.controls.impact_type.hasError('required') && impact_form.controls.impact_type.touched">
      <p class="content">Please Select Required Field!</p>
    </ion-item>

    <!-- Other -->
    <div *ngIf="impact_form.get('impact_type').value == 'Other'">
      <ion-item lines="none" class="input-item add">
        <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
        <ion-input type="text" color="primary" formControlName="impact_type_other" class="input-box">
        </ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.impact_type_other.hasError('required') && impact_form.controls.impact_type_other.touched">
        <p class="content">Please Enter Required Field!</p>
      </ion-item>
    </div>

    <div class="div-que add-margin">

      <ion-label class="lbl-head">Is the owner of the tree/foreign object a third party?</ion-label>

      <ion-radio-group formControlName="impact_know_owner">
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">Yes</ion-label>
          <ion-radio slot="start" value="true" mode="md"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">No</ion-label>
          <ion-radio slot="start" value="false" mode="md"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </div>

    <div class="div-Y" *ngIf="this.impact_form.get('impact_know_owner').value == 'true'">

      <ion-label class="lbl-contact-blk add">Tree/object owner details</ion-label>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">First Name</ion-label>
        <ion-input type="text" formControlName="tp_christian_tree_owner" color="primary" class="input-box">
        </ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_christian_tree_owner.hasError('required') && impact_form.controls.tp_christian_tree_owner.touched">
        <p class="content">Please Enter First Name!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Last Name</ion-label>
        <ion-input type="text" formControlName="tp_name_tree_owner" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_name_tree_owner.hasError('required') && impact_form.controls.tp_name_tree_owner.touched">
        <p class="content">Please Enter Last Name!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Street</ion-label>
        <ion-input type="text" formControlName="tp_postal_street" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_postal_street.hasError('required') && impact_form.controls.tp_postal_street.touched">
        <p class="content">Please Enter Street!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
        <ion-input type="text" formControlName="tp_postal_suburb" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_postal_suburb.hasError('required') && impact_form.controls.tp_postal_suburb.touched">
        <p class="content">Please Enter Town!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">PostCode</ion-label>
        <ion-input type="number" formControlName="tp_postal_postcode" color="primary" class="input-box">
        </ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_postal_postcode.hasError('required') && impact_form.controls.tp_postal_postcode.touched">
        <p class="content">Please Enter Postcode!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">State</ion-label>
        <ion-input type="text" formControlName="tp_postal_state" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_postal_state.hasError('required') && impact_form.controls.tp_postal_state.touched">
        <p class="content">Please Enter State!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Email</ion-label>
        <ion-input type="email" formControlName="tp_postal_email" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_postal_email.hasError('required') && impact_form.controls.tp_postal_email.touched">
        <p class="content">Please Enter Email Address!</p>
      </ion-item>
      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_postal_email.hasError('pattern') && impact_form.controls.tp_postal_email.touched">
        <p class="content">Please Enter Valid Email Address!</p>
      </ion-item>

      <ion-item lines="none" class="input-item add">
        <ion-label position="stacked" class="input-lbl">Phone number</ion-label>
        <ion-input type="number" formControlName="tp_tele_main" color="primary" class="input-box"></ion-input>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.tp_tele_main.hasError('required') && impact_form.controls.tp_tele_main.touched">
        <p class="content">Please Enter Phone number!</p>
      </ion-item>

    </div>

    <div class="div-que add-margin">

      <ion-label class="lbl-head">Has your vehicle suffered damage?</ion-label>

      <ion-radio-group formControlName="vehicle_suffered_damage">
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">Yes</ion-label>
          <ion-radio slot="start" value="true" mode="md"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="items-radio">
          <ion-label class="lbl-radio">No</ion-label>
          <ion-radio slot="start" value="false" mode="md"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </div>

    <div class="div-Y" *ngIf="this.impact_form.get('vehicle_suffered_damage').value == 'true'">

      <ion-item lines="none" class="item-dropdown add">
        <ion-label position="stacked" class="lbl-dropdown">Damage to your vehicle</ion-label>
        <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="vehicle_damaged"
          class="btn-select bg" mode="md">
          <ion-select-option value="Vehicle is drivable">Vehicle is drivable</ion-select-option>
          <ion-select-option value="Vehicle is not drivable">Vehicle is not drivable</ion-select-option>
          <ion-select-option value="Not known">Not known</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="impact_form.controls.vehicle_damaged.hasError('required') && impact_form.controls.vehicle_damaged.touched">
        <p class="content">Please Select Required Field!</p>
      </ion-item>

      <div *ngIf="impact_form.get('vehicle_damaged').value == 'Vehicle is drivable'">

        <ion-label class="lbl-contact-blk add-margin">Image of damages</ion-label>

        <div class="div-docs add-margin">

          <ion-row class="row-card">
            <ion-col size="6" class="col-card">
              <ion-card class="card-upload">
                <ion-button fill="clear" class="btn-close" (click)="delete()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
                <img src="../../../assets/images/insurence-logo.png" class="img-upload" />
                <ion-label class="lbl-filename">FileName</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>

          <div class="upload-btn-wrapper">
            <ion-button fill="clear" color="dark" expand="full" class="btn">Attach Documents</ion-button>
            <input type="file" (change)="fileUpload($event)"
              accept=".pdf,.doc,.docx,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
          </div>

          <!-- <ion-item no-padding lines="none" class="validator-error error"
            *ngIf="impact_form.controls.myfile.hasError('required') && impact_form.controls.myfile.touched">
            <p class="content text">Please Select Your Documents!</p>
          </ion-item> -->

        </div>

        <div class="div-que add-margin">

          <ion-label class="lbl-head">Do you have a quote to repair the damage?</ion-label>

          <ion-radio-group formControlName="quote_repair">
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">Yes</ion-label>
              <ion-radio slot="start" value="true" mode="md"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">No</ion-label>
              <ion-radio slot="start" value="false" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>

        </div>

        <div class="div-Y" *ngIf="this.impact_form.get('quote_repair').value == 'true'">

          <ion-label class="lbl-contact-blk add">Attach quote</ion-label>

          <div class="div-docs add-margin">

            <ion-row class="row-card">
              <ion-col size="6" class="col-card">
                <ion-card class="card-upload">
                  <ion-button fill="clear" class="btn-close" (click)="delete()">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                  <img src="../../../assets/images/insurence-logo.png" class="img-upload" />
                  <ion-label class="lbl-filename">FileName</ion-label>
                </ion-card>
              </ion-col>
            </ion-row>

            <div class="upload-btn-wrapper">
              <ion-button fill="clear" color="dark" expand="full" class="btn">Attach Documents</ion-button>
              <input type="file" (change)="fileUpload($event)"
                accept=".pdf,.doc,.docx,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
            </div>

            <!-- <ion-item no-padding lines="none" class="validator-error error"
              *ngIf="impact_form.controls.myfile.hasError('required') && impact_form.controls.myfile.touched">
              <p class="content text">Please Select Your Documents!</p>
            </ion-item> -->

          </div>

          <div class="div-que add-margin">

            <ion-label class="lbl-head">Are you claiming reimbursement of any costs?</ion-label>

            <ion-radio-group formControlName="costs_reimbursed">
              <ion-item lines="none" class="items-radio">
                <ion-label class="lbl-radio">Yes</ion-label>
                <ion-radio slot="start" value="true" mode="md"></ion-radio>
              </ion-item>
              <ion-item lines="none" class="items-radio">
                <ion-label class="lbl-radio">No</ion-label>
                <ion-radio slot="start" value="false" mode="md"></ion-radio>
              </ion-item>
            </ion-radio-group>

          </div>

          <div class="div-Y" *ngIf="this.impact_form.get('costs_reimbursed').value == 'true'">

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">Name of account</ion-label>
              <ion-input type="text" formControlName="bank_account_name" color="primary" class="input-box">
              </ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_account_name.hasError('required') && impact_form.controls.bank_account_name.touched">
              <p class="content">Please Enter Name!</p>
            </ion-item>

            <ion-item lines="none" class="item-dropdown add">
              <ion-label position="stacked" class="lbl-dropdown">Bank</ion-label>
              <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="name_bank"
                class="btn-select bg" mode="md">
                <ion-select-option value="CBA">CBA</ion-select-option>
                <ion-select-option value="Bendigo">Bendigo</ion-select-option>
                <ion-select-option value="WESTPAC">WESTPAC</ion-select-option>
                <ion-select-option value="NAB">NAB</ion-select-option>
                <ion-select-option value="ANZ">ANZ</ion-select-option>
                <ion-select-option value="St George">St George</ion-select-option>
                <ion-select-option value="HSBC">HSBC</ion-select-option>
                <ion-select-option value="aa">aa</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.name_bank.hasError('required') && impact_form.controls.name_bank.touched">
              <p class="content">Please Select Required Field!</p>
            </ion-item>

            <!-- Other -->
            <div *ngIf="impact_form.get('name_bank').value == 'Other'">
              <ion-item lines="none" class="input-item add">
                <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
                <ion-input type="text" color="primary" formControlName="name_bank_other" class="input-box">
                </ion-input>
              </ion-item>

              <ion-item no-padding lines="none" class="validator-error"
                *ngIf="impact_form.controls.name_bank_other.hasError('required') && impact_form.controls.name_bank_other.touched">
                <p class="content">Please Enter Required Field!</p>
              </ion-item>
            </div>

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">Branch</ion-label>
              <ion-input type="text" formControlName="bank_branch" color="primary" class="input-box"></ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_branch.hasError('required') && impact_form.controls.bank_branch.touched">
              <p class="content">Please Enter Branch!</p>
            </ion-item>

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">BSB</ion-label>
              <ion-input type="text" formControlName="bank_bsb" color="primary" class="input-box"></ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_bsb.hasError('required') && impact_form.controls.bank_bsb.touched">
              <p class="content">Please Enter BSB!</p>
            </ion-item>

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">Account number</ion-label>
              <ion-input type="text" formControlName="bank_account_number" color="primary" class="input-box">
              </ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_account_number.hasError('required') && impact_form.controls.bank_account_number.touched">
              <p class="content">Please Enter Account Number!</p>
            </ion-item>

          </div>

        </div>

      </div>

      <div *ngIf="impact_form.get('vehicle_damaged').value == 'Vehicle is not drivable'">

        <ion-label class="lbl-contact-blk add-margin">Where is the vehicle?</ion-label>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Street</ion-label>
          <ion-input type="text" formControlName="where_vehicle_street" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="impact_form.controls.where_vehicle_street.hasError('required') && impact_form.controls.where_vehicle_street.touched">
          <p class="content">Please Enter Street!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">Suburb/Town</ion-label>
          <ion-input type="text" formControlName="where_vehicle_suburb" color="primary" class="input-box"></ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="impact_form.controls.where_vehicle_suburb.hasError('required') && impact_form.controls.where_vehicle_suburb.touched">
          <p class="content">Please Enter Town!</p>
        </ion-item>

        <ion-item lines="none" class="input-item add">
          <ion-label position="stacked" class="input-lbl">PostCode</ion-label>
          <ion-input type="number" formControlName="where_vehicle_post_code" color="primary" class="input-box">
          </ion-input>
        </ion-item>

        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="impact_form.controls.where_vehicle_post_code.hasError('required') && impact_form.controls.where_vehicle_post_code.touched">
          <p class="content">Please Enter Postcode!</p>
        </ion-item>

        <ion-label class="lbl-contact-blk add-margin">Image of damages</ion-label>

        <div class="div-docs add-margin">

          <ion-row class="row-card">
            <ion-col size="6" class="col-card">
              <ion-card class="card-upload">
                <ion-button fill="clear" class="btn-close" (click)="delete()">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
                <img src="../../../assets/images/insurence-logo.png" class="img-upload" />
                <ion-label class="lbl-filename">FileName</ion-label>
              </ion-card>
            </ion-col>
          </ion-row>

          <div class="upload-btn-wrapper">
            <ion-button fill="clear" color="dark" expand="full" class="btn">Attach Documents</ion-button>
            <input type="file" (change)="fileUpload($event)"
              accept=".pdf,.doc,.docx,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
          </div>

          <!-- <ion-item no-padding lines="none" class="validator-error error"
            *ngIf="impact_form.controls.myfile.hasError('required') && impact_form.controls.myfile.touched">
            <p class="content text">Please Select Your Documents!</p>
          </ion-item> -->

        </div>

        <div class="div-que add-margin">

          <ion-label class="lbl-head">Do you have a quote to repair the damage?</ion-label>

          <ion-radio-group formControlName="quote_repair">
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">Yes</ion-label>
              <ion-radio slot="start" value="true" mode="md"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">No</ion-label>
              <ion-radio slot="start" value="false" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>

        </div>

        <div class="div-Y" *ngIf="this.impact_form.get('quote_repair').value == 'true'">

          <ion-label class="lbl-contact-blk add">Attach quote</ion-label>

          <div class="div-docs add-margin">

            <ion-row class="row-card">
              <ion-col size="6" class="col-card">
                <ion-card class="card-upload">
                  <ion-button fill="clear" class="btn-close" (click)="delete()">
                    <ion-icon name="close"></ion-icon>
                  </ion-button>
                  <img src="../../../assets/images/insurence-logo.png" class="img-upload" />
                  <ion-label class="lbl-filename">FileName</ion-label>
                </ion-card>
              </ion-col>
            </ion-row>

            <div class="upload-btn-wrapper">
              <ion-button fill="clear" color="dark" expand="full" class="btn">Attach Documents</ion-button>
              <input type="file" (change)="fileUpload($event)"
                accept=".pdf,.doc,.docx,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
            </div>

            <!-- <ion-item no-padding lines="none" class="validator-error error"
              *ngIf="impact_form.controls.myfile.hasError('required') && impact_form.controls.myfile.touched">
              <p class="content text">Please Select Your Documents!</p>
            </ion-item> -->

          </div>

          <div class="div-que add-margin">

            <ion-label class="lbl-head">Are you claiming reimbursement of any costs?</ion-label>

            <ion-radio-group formControlName="costs_reimbursed">
              <ion-item lines="none" class="items-radio">
                <ion-label class="lbl-radio">Yes</ion-label>
                <ion-radio slot="start" value="true" mode="md"></ion-radio>
              </ion-item>
              <ion-item lines="none" class="items-radio">
                <ion-label class="lbl-radio">No</ion-label>
                <ion-radio slot="start" value="false" mode="md"></ion-radio>
              </ion-item>
            </ion-radio-group>

          </div>

          <div class="div-Y" *ngIf="this.impact_form.get('costs_reimbursed').value == 'true'">

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">Name of account</ion-label>
              <ion-input type="text" formControlName="bank_account_name" color="primary" class="input-box">
              </ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_account_name.hasError('required') && impact_form.controls.bank_account_name.touched">
              <p class="content">Please Enter Name!</p>
            </ion-item>

            <ion-item lines="none" class="item-dropdown add">
              <ion-label position="stacked" class="lbl-dropdown">Bank</ion-label>
              <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="name_bank"
                class="btn-select bg" mode="md">
                <ion-select-option value="CBA">CBA</ion-select-option>
                <ion-select-option value="Bendigo">Bendigo</ion-select-option>
                <ion-select-option value="WESTPAC">WESTPAC</ion-select-option>
                <ion-select-option value="NAB">NAB</ion-select-option>
                <ion-select-option value="ANZ">ANZ</ion-select-option>
                <ion-select-option value="St George">St George</ion-select-option>
                <ion-select-option value="HSBC">HSBC</ion-select-option>
                <ion-select-option value="aa">aa</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.name_bank.hasError('required') && impact_form.controls.name_bank.touched">
              <p class="content">Please Select Required Field!</p>
            </ion-item>

            <!-- Other -->
            <div *ngIf="impact_form.get('name_bank').value == 'Other'">
              <ion-item lines="none" class="input-item add">
                <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
                <ion-input type="text" color="primary" formControlName="name_bank_other" class="input-box">
                </ion-input>
              </ion-item>

              <ion-item no-padding lines="none" class="validator-error"
                *ngIf="impact_form.controls.name_bank_other.hasError('required') && impact_form.controls.name_bank_other.touched">
                <p class="content">Please Enter Required Field!</p>
              </ion-item>
            </div>

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">Branch</ion-label>
              <ion-input type="text" formControlName="bank_branch" color="primary" class="input-box"></ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_branch.hasError('required') && impact_form.controls.bank_branch.touched">
              <p class="content">Please Enter Branch!</p>
            </ion-item>

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">BSB</ion-label>
              <ion-input type="text" formControlName="bank_bsb" color="primary" class="input-box"></ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_bsb.hasError('required') && impact_form.controls.bank_bsb.touched">
              <p class="content">Please Enter BSB!</p>
            </ion-item>

            <ion-item lines="none" class="input-item add">
              <ion-label position="stacked" class="input-lbl">Account number</ion-label>
              <ion-input type="text" formControlName="bank_account_number" color="primary" class="input-box">
              </ion-input>
            </ion-item>

            <ion-item no-padding lines="none" class="validator-error"
              *ngIf="impact_form.controls.bank_account_number.hasError('required') && impact_form.controls.bank_account_number.touched">
              <p class="content">Please Enter Account Number!</p>
            </ion-item>

          </div>

        </div>

      </div>

    </div>

  </form>

</ion-content>

<ion-footer class="btns-footer">
  <ion-row class="row-footer">
    <ion-col class="col-footer border-R">
      <ion-button expand="full" class="btn-back" (click)="back()">
        <ion-icon name="arrow-round-back" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="col-footer border-L">
      <ion-button expand="full" class="btn-next" >
        <ion-icon name="arrow-round-forward" mode="md" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>