
//--background: #f1f1f1;

.img-logo{
    width: 75%;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30%;
}
.div-bottom{
    position: absolute;
    bottom: 15%;
    width: 100%;

    .btn-signin{
        margin: 20px 40px;
        color: #fff;
        font-weight: bold;
        --color-activated: #fff;
    }
    .btn-new{
        margin: 20px 40px;
        color: #fff;
        font-weight: bold;
        --color-activated: #fff;
    }
}
