.heading{
    font-size: 14px;
    font-weight: 600;
    padding: 25px 0px;
    display: block;
}

.btn-forgot{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    color: #fff;
    font-weight: bold;
    --color-activated: #fff;
}