<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary" class="head">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="page-home">
  <img src="../../assets/images/placeholder.jpg" class="img-head"/>

  <ion-label color="primary" class="lbl-head">We offer the following insurance services:</ion-label>

  <ion-row class="row-card">
    <ion-col size="6" class="col-card">
      <ion-card class="card-service">
        <img src="../../assets/images/services/property.png" class="img-service home-img"/>
        <ion-label color="primary" class="lbl-service">Property</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="col-card">
      <ion-card class="card-service">
        <img src="../../assets/images/services/vehicle.png" class="img-service home-img"/>
        <ion-label color="primary" class="lbl-service">Vehicle</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="row-card">
    <ion-col size="6" class="col-card">
      <ion-card class="card-service">
        <img src="../../assets/images/services/medical.png" class="img-service home-img"/>
        <ion-label color="primary" class="lbl-service">Medical Malpractice</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="col-card">
      <ion-card class="card-service">
        <img src="../../assets/images/services/professional.png" class="img-service home-img"/>
        <ion-label color="primary" class="lbl-service">Professional Indemnity</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row class="row-card">
    <ion-col size="6" class="col-card">
      <ion-card class="card-service">
        <img src="../../assets/images/services/general.png" class="img-service home-img"/>
        <ion-label color="primary" class="lbl-service">General Liability</ion-label>
      </ion-card>
    </ion-col>
    <ion-col size="6" class="col-card">
      <ion-card class="card-service">
        <img src="../../assets/images/services/other.png" class="img-service home-img"/>
        <ion-label color="primary" class="lbl-service">Other</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
