<ion-header>
    <ion-toolbar>
      <!-- <ion-buttons>
        <ion-button color="primary" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons> -->
      <ion-title color="primary" class="head">Escape of liquid</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <form [formGroup]="escape_of_liquid_form" autocomplete="off">

        <ion-label class="lbl-contact">Escape of liquid Details</ion-label>
  
        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">How did the liquid escape?</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="how_liquid_escape"
            class="btn-select bg" mode="md">
            <ion-select-option value="From the pipes">From the pipes</ion-select-option>
            <ion-select-option value="From the wall">From the wall</ion-select-option>
            <ion-select-option value="From the roof">From the roof</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="escape_of_liquid_form.controls.how_liquid_escape.hasError('required') && escape_of_liquid_form.controls.how_liquid_escape.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>
  
        <!-- Other -->
        <div *ngIf="escape_of_liquid_form.get('how_liquid_escape').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="how_liquid_escape_other" class="input-box">
            </ion-input>
          </ion-item>
  
          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="escape_of_liquid_form.controls.how_liquid_escape_other.hasError('required') && escape_of_liquid_form.controls.how_liquid_escape_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>
  
        <ion-item lines="none" class="item-dropdown add">
          <ion-label position="stacked" class="lbl-dropdown">Why did the liquid escape?</ion-label>
          <ion-select interface="action-sheet" placeholder="Please Select Option" formControlName="why_liquid_escape"
            class="btn-select bg" mode="md">
            <ion-select-option value="Broken Plumbing">Broken Plumbing</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item no-padding lines="none" class="validator-error"
          *ngIf="escape_of_liquid_form.controls.why_liquid_escape.hasError('required') && escape_of_liquid_form.controls.why_liquid_escape.touched">
          <p class="content">Please Select Required Field!</p>
        </ion-item>
  
        <!-- Other -->
        <div *ngIf="escape_of_liquid_form.get('why_liquid_escape').value == 'Other'">
          <ion-item lines="none" class="input-item add">
            <!-- <ion-label position="stacked" class="input-lbl">Policy Holder Business Name</ion-label> -->
            <ion-input type="text" color="primary" formControlName="why_liquid_escape_other" class="input-box">
            </ion-input>
          </ion-item>
  
          <ion-item no-padding lines="none" class="validator-error"
            *ngIf="escape_of_liquid_form.controls.why_liquid_escape_other.hasError('required') && escape_of_liquid_form.controls.why_liquid_escape_other.touched">
            <p class="content">Please Enter Required Field!</p>
          </ion-item>
        </div>
  
        <div class="div-que add-margin">
  
          <ion-label class="lbl-head">Is the liquid still escaping?</ion-label>
  
          <ion-radio-group formControlName="is_liquid_escaping">
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">Yes</ion-label>
              <ion-radio slot="start" value="true" mode="md"></ion-radio>
            </ion-item>
            <ion-item lines="none" class="items-radio">
              <ion-label class="lbl-radio">No</ion-label>
              <ion-radio slot="start" value="false" mode="md"></ion-radio>
            </ion-item>
          </ion-radio-group>
  
        </div>
  
      </form>

    </ion-content>
    
    <ion-footer class="btns-footer">
      <ion-row class="row-footer">
        <ion-col class="col-footer border-R">
          <ion-button expand="full" class="btn-back" (click)="back()">
            <ion-icon name="arrow-round-back" mode="md" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="col-footer border-L">
          <ion-button expand="full" class="btn-next">
            <ion-icon name="arrow-round-forward" mode="md" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>